$borderColor: #fafafa00;
$background: #00ff22;

body {
  background-color: $borderColor;
}

.loader {
  height: 200px;
  width: 200px;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  list-style-type: none;
  li {
    border: 5px solid transparent;
    border-top-color: $background;
    border-left-color: $background;
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 5000px;
    transform: rotate(45deg);
    animation: animate 5s ease infinite;
    animation-direction: alternate reverse;
  }
  @for $i from 1 through 15 {
    li:nth-child(#{$i}) {
      height: #{$i*30}px;
      width: #{$i*30}px;
      animation-delay: #{$i*0.1}s;
    }
  }
}

@keyframes animate {
  0%, 100% {
    transform: rotate(45deg);
  }
  50%, 60% {
    transform: rotate(-315deg);
  }
}
